.navbar-custom{
    background: rgba(44, 62, 80, 0.95);
    backdrop-filter: blur(10px);
}

.section-padding {
    padding: 80px 0;
    box-shadow: inset;
}

.figure-img{
    max-width: 80%;
    max-height: 80%;
    display: block;
    margin: auto;
    /* background-size: cover; */
    

}

div.cardsection:hover{
    background-color: #9195953D;
}

.content-img {
    padding: 0;
}

.content-img1 {
    padding: 80 40;
}

.trusted-padding {
    padding: 80px 0;
}

.unveiling-padding {
    padding: 80px 0;
}

.see {
    /* background: #b0b4b9; */
    padding: 5px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.image12{
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;
    background-size: cover;

}

.card11{
    background-color: #9195953D;
}

.card13{
    background-color: #9195953D;
}

